/* --------- TAG SELECTORS --------- */
body{
  font-family: 'Patrick Hand', cursive;
  font-size: 20px;
}

h1{
  margin: 0;
}

input{
  background: #f7f8f4;
  border-style: none none solid;
  font-size: 16px;
  height: 25px;
  margin: 5px;
  width: 180px;
}

/* --------- CLASS SELECTORS --------- */
.bigWrapper{
  background: #f7f8f4;
  height: 380px;
  margin: 100px 300px;
  padding: 10px;
  width: 500px;
}

.bottom{
  text-align: center;
  padding: 30px;
  width: auto;
}

.btn{
  background:#b4b4b4;
  border: none;
  border-radius: 4%;
  color: #fff;
  font-size: 18px;
  padding: 10px;
}

.btn:hover{
  background: #787878;
}

.inputs{
  float: right;
  width: 200px;
}

.logo img{
  position: absolute;
  right: 15px;
  top: 0;
  width:60px;
}

.middle{
  height: 200px;
  width: 500px;
  position: relative;
}

.textMessage{
  line-height: 2;
  text-align: justify;
  width: 55%;
}

.title{
  padding-top: 15px;
}

.top{
  height: 70px;
  position: relative;
  width: 500px;
}
